
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
.searchform {
    padding: 10px;
}  


.navBar {
    background-color: #0065a4;
    width: 100%;
    color: white;
    font-family: Helvetica,Arial,Sans-Serif;
    border: solid, black, 1px;
    padding: 10px;
}

.navBar a:Link {
    color: white;
    text-decoration: none;
}

.navBar a:Visited {
    color: white;
}
.navBar a:Visited {
    color: white;
}


.searchForm {
  display: inline;
}

.searchImg {
  
  display: inline;
  margin-right: 20px;
}
.formContainer {
  
  height: 90px;
  border-bottom: solid gray 1px
  
}
.searchSelect {
  margin-right: 20px
}
.searchInput {
  margin-right: 20px;

}

.searchLegend {
  display: inline;
  font-size: small;
}
.sidebar h2 {
  font-size: 18pt
}
.limiter {
  margin-right: 5pt;
}

.card-title{
  font-size: 14pt;
  font-weight: bold;
}
.details {
  color: grey;
  margin-bottom: 5pt;
}

.pubtype-icon {
  display: block;
  width: 60px;
  height: 70px;
  margin: 0 auto;
  background: url(PT_Sprite.png) no-repeat -545px -121px;
}

.record-icon {
  position: relative;
  float: left;
  width: 80px;
  margin-left: 0px;
  text-align: center;
}

.pt-ebook {
  height: 56px;
  background-position: -350px -515px;
}

.pt-book {
  background-position: -139px -121px;
  height: 59px;
}

.pt-videoRecording {
  background-position: -347px -31px;
  height: 63px;
}

.pt-academicJournal {
  background-position: -347px -121px;
  height: 57px;
}

.pt-map {
  background-position: -36px -121px;
  height: 45px;
}
.pt-audio {
  background-position: -543px -31px;
  height: 49px;
}
.prev {
  border: none;
  color: blue;
  text-decoration: underline;
  margin-top: 6pt;
  
  margin-bottom: 10pt;
}

.next {
  border: none;
  color: blue;
  margin-top: 6pt;
  text-decoration: underline;
  
  margin-bottom: 10pt;
}

.nextprev {
  float: left;
}

.PlaceHolder {
  margin-left: 10pt;
}

.onlineLink {
  clear: all;
}
.footer{
  text-align: center;
  margin-bottom: 6pt;
}
.available {
  
  font-size: 13pt;
}

dt {
    display: block;
    float: left;
    width: 140px;
    padding: 5px 0;
    font-weight: bold;
    text-align: left;
    clear: left;
    word-wrap: break-word;
}
dd{
    display: block;
    margin: 0 0 0 140px;
    padding: 5px 0 5px 10px
}

.itemTitle {
  font-size: 18pt;
  margin-bottom: 20px;
}
.sideBarHeader {
  font-weight: bold;
}

.backLink{
  display: block;
  margin-top: 20px;

  margin-bottom: 20px;

}
.sidebar {
  border-right: 1px solid grey;
}

